<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-Uel-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一笔画寻路暴力搜索</title>
    <link rel="stylesheet" href="lib/element-ui.css">
    <style>
        .inputNumberContent {
            position: absolute;
            top: 0;
            left: 0;
            width: 47px;
            height: 47px;
        }
        .inputNumberContent .el-input__inner {
            height: 47px;
            line-height: 15px;
            font-size: 15px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .el-table--enable-row-hover .el-table__body tr:hover > td {
            background-color: transparent !important;
        }
    </style>
    <script src="lib/vue.js"></script>
    <script src="lib/element-ui.js"></script>
</head>

<body>
<div id="el" style="width: 90%;margin: auto;">
    <h1>一笔画寻路</h1>
    <div>
        棋盘共
        <el-input-number v-model="totalRow" :min="1" :max="100" @change="initTable"></el-input-number>
        行，
        共
        <el-input-number v-model="totalCol" :min="1" :max="100" @change="initTable"></el-input-number>
        列
    </div>
    <p>1为起点，-1为障碍物，0为可以走的路，点击单元格可以编辑</p>
    <div :style="{width: totalWidth}">
        <el-table
                :border="true"
                :show-header="false"
                :data="dataSource"
                :cell-style="cellStyle"
                @cell-click="cellClick"
                :row-key="row => row.key"
        >
            <el-table-column
                    v-for="item in columns"
                    :key="item.dataIndex"
                    :prop="item.dataIndex"
                    align="center"
                    width="48"
                    max-height="48"
            >
                <template slot-scope="scope">
                    <template v-if="scope.row.key === cellClickRowIndex && cellClickColumnId === scope.column.id">
                        <el-input-number
                                v-model="scope.row[item.dataIndex]"
                                size="mini"
                                class="inputNumberContent"
                                :controls="false"
                                :min="-1"
                                :max="1"
                                :ref="'cell-input-' + cellClickRowIndex + '-' + cellClickColumnId"
                                @blur="inputBlur"
                                @focus="el => el.currentTarget.select()"
                        />
                    </template>
                    <template v-else>{{ scope.row[item.dataIndex] }}</template>
                </template>
            </el-table-column>
        </el-table>
    </div>
    <el-button @click="pathfind" type="primary" style="margin: 20px 0 20px 0">寻路</el-button>
    <div v-if="errorMsg">{{errorMsg}}</div>
    <div :style="{width: totalWidth}" v-if="!errorMsg && dataSource2 != null && dataSource2.length != 0">
        <el-table
                :border="true"
                :show-header="false"
                :data="dataSource2"
        >
            <el-table-column
                    v-for="item in columns"
                    :key="item.dataIndex"
                    :prop="item.dataIndex"
                    align="center"
                    width="48">
            </el-table-column>
        </el-table>
    </div>
</div>
</body>
<script src="js/unicursal.js"></script>
<script>
    new Vue({
        el: '#el',
        data() {
            return {
                columns: [
                    {dataIndex: '0'},
                    {dataIndex: '1'},
                    {dataIndex: '2'},
                    {dataIndex: '3'},
                    {dataIndex: '4'},
                    {dataIndex: '5'}
                ],
                totalWidth: 48 * 6 + 1 + 'px',
                dataSource: [
                    {key: 0, '0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': 0},
                    {key: 1, '0': -1, '1': 0, '2': 0, '3': -1, '4': 1, '5': 0},
                    {key: 2, '0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': 0},
                    {key: 3, '0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': 0},
                    {key: 4, '0': 0, '1': -1, '2': 0, '3': 0, '4': -1, '5': 0},
                    {key: 5, '0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': 0}
                ],
                dataSource2: [],
                errorMsg: "",
                totalRow: 6,
                totalCol: 6,
                cellClickRowIndex: null,
                cellClickColumnId: null,
            }
        },
        methods: {
            pathfind() {
                // 棋盘数组（0代表可以走的路，-1代表障碍）示例
                // matrix: [
                //     [0, 0, 0, 0, 0, 0],
                //     [-1, 0, 0, -1, 0, 0],
                //     [0, 0, 0, 0, 0, 0],
                //     [0, 0, 0, 0, 0, 0],
                //     [0, -1, 0, 0, -1, 0],
                //     [0, 0, 0, 0, 0, 0]
                // ]
                let startX, startY;
                let matrix = [];
                for (let index = 0; index < this.dataSource.length; index++) {
                    matrix[index] = [];
                    for (let j = 0, len = Object.keys(this.dataSource[index]).length; j < len; j++) {
                        if (this.dataSource[index][j + ''] === 1) {
                            startX = index;
                            startY = j;
                        }
                        matrix[index][j + ''] = this.dataSource[index][j];
                    }
                }
                let instance = new unicursal();
                instance.matrix = matrix;
                // 起始位置 x:行数 y:列数
                instance.x = startX;
                instance.y = startY;
                // 开始寻路
                instance.run();

                if (!instance.success) {
                    this.errorMsg = "无路径可寻";
                    this.dataSource2 = [];
                } else {
                    this.errorMsg = null;
                    // 走到此，说明没有未走的格子，说明寻路成功，打印输出路径
                    this.dataSource2 = [];
                    for (let i = 0; i < instance.path.length; i++) {
                        this.dataSource2[i] = {}
                        for (let j = 0; j < instance.path[i].length; j++) {
                            this.dataSource2[i][j + ''] = instance.path[i][j]
                        }
                    }
                }
            },
            initTable() {
                this.totalWidth = this.totalCol * 48 + 1 + 'px'
                this.columns = []
                for (let index = 0; index < this.totalCol; index++) {
                    this.columns[index] = {dataIndex: index + ''};
                }
                this.dataSource = [];
                for (let index = 0; index < this.totalRow; index++) {
                    this.dataSource[index] = {};
                    for (let j = 0; j < this.totalCol; j++) {
                        this.dataSource[index][j + ''] = 0;
                    }
                    this.dataSource[index].key = index;
                }
            },
            cellStyle({row, column, rowIndex, columnIndex}) {
                if (row[columnIndex] === -1) {
                    return "border:1px solid #F56C6C!important;border-radius:25px;"
                } else if (row[columnIndex] === 1) {
                    return "border:1px solid #67C23A!important;border-radius:25px;"
                }
            },
            // 点击单元格显示输入框，并选中文本
            cellClick(row, column, cell, event) {
                this.cellClickRowIndex = row.key
                this.cellClickColumnId = column.id
                this.$nextTick(() => {
                    this.$refs['cell-input-' + this.cellClickRowIndex + '-' + this.cellClickColumnId][0].focus()
                })
            },
            // 失去焦点关闭输入框
            inputBlur(row, event, column) {
                this.cellClickRowIndex = null
                this.cellClickColumnId = null
            },
        }
    })
</script>

</html>